.wrapper {
  width: 100%;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.Q1 {
  width: 400px;
  height: 400px;
  background: #ff0000;
  margin: 0 auto;
}

.Q2 {
  width: 300px;
  height: 300px;
  background: #ff0000;
  margin: 0 auto;
}

.Q3-1 {
  width: 300px;
  height: 300px;
  background: #0008ff;
  margin-right: 150px;
}

.Q3-2 {
  width: 300px;
  height: 300px;
  background: #22ff00;
}

.Q3,.Q5,.Q6,.Q7 {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.Q4-1 {
  width: 300px;
  height: 300px;
  background: #ff0000;
  float: left;
}

.Q4-2 {
  width: 300px;
  height: 300px;
  background: #0008ff;
  float: left;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
 }

 .Q4 {
  width: 600px;
  margin: 20px auto;
 }

 .Q5 {
  flex-direction: row;
 }

 .Q5-1 {
  width: 300px;
  height: 300px;
  background: #ff0000;
}

.Q5-2 {
  width: 300px;
  height: 300px;
  background: #0008ff;
}

.Q5-3 {
  width: 300px;
  height: 300px;
  background: #ff8400;
}

.Q6-1 {
  width: 300px;
  height: 300px;
  background: #00ff51;
  order: 0;
}

.Q6-2 {
  width: 300px;
  height: 300px;
  background: #d4ff00;
  order: 1;
}

.Q6-3 {
  width: 300px;
  height: 300px;
  background: #ff00e1;
  order: 2;
}

p {
  text-align: center;
  line-height: 300px;
}

.Q7-1 {
  width: 300px;
  height: 300px;
  background: #ff0000;
  display: block;
}

.Q7-2 {
  width: 300px;
  height: 300px;
  background: #0008ff;
  display: none;
}

.Q7-3 {
  width: 300px;
  height: 300px;
  background: #00ff51;
}

@media screen and ( max-width:960px ) {
.Q1 {
  width: 200px;
  height: 200px;
 }  
.Q2 {
  background: #007bff;
}
.Q3-1 {
  margin-right: 50px;
}
.Q4-1,.Q4-2 {
  float: none;
}
.Q5 {
  flex-direction: row-reverse;
}
.Q6-1 {
  order: 1;
}
.Q6-2 {
  order: 2;
}
.Q6-3 {
  order: 0;
}
.Q7-1 {
  display: none;
}
.Q7-2 {
  display: block;
}
}
